<div class="col-xs-5 col-xs-offset-2">
  <h1>Welcome <%= current_user.username %>!</h1>
  
  <div class="panel panel-default">
    <div class="panel-body"> 
      <div class="col-xs-12">
      <%= form_for [current_user], url: user_url(current_user), 
        method: :patch, html: { multipart: true } do |f|%>
        
        <div class="form-group edit-profile-form" id="form-user-full_name">
          <%= f.label :full_name %>
          <%= f.text_field :full_name, class: 'form-control' %>
        </div>
        
        <div class="form-group edit-profile-form" id="form-user-email">
          <%= f.label :email %>
          <%= f.text_field :email, class: 'form-control' %>
        </div>
        
        <div class="form-group edit-profile-form" id="form-user-title">
          <%= f.label "What do you do?" %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        
        <div class="form-group edit-profile-form">
          <%= f.label "A Fun Fact About You!" %>
          <%= f.text_field :blurb, class: 'form-control' %>
        </div>
      
        <div class="form-group edit-profile-form" id="form-user-description">
          <%= f.label "Describe Yourself:" %>
          <%= f.text_area :description, class: 'form-control', rows: '10' %>
        </div>
  
        <div class="form-group edit-profile-form">
          <%= f.file_field :image %>
          
          <%= f.submit "Update Profile", class: 'form-control btn btn-primary'%>
        </div>
  
      <% end %>
      </div>
    </div>
  </div>
</div>
      
<div class='col-xs-3'>
  <div class="panel panel-default" id="profile-photo-preview">
    <div class="panel-heading">
      Your Photo
    </div>
     
    <div class="panel-body">
      <div class="photo-square" style="background-image: url('<%= current_user.image.url %>'); background-repeat: no-repeat; background-position: center">
      </div>
    </div>
  </div>
</div>