<h1>Welcome <%= current_user.username %>!</h1>

<%= form_for [current_user], url: user_url(current_user), 
  method: :patch, html: { multipart: true, class: 'form-inline' } do |f| %>
    
  <div class="form-group" id="form-user-full_name">
    <%= f.label :full_name %>
    <%= f.text_field :full_name, class: 'form-control' %>
  </div>
        
  <div class="form-group" id="form-user-profile">
    <%= f.label :profile %>
    <%= f.text_field :profile, class: 'form-control' %>
  </div>
      
  <div class="form-group" id="form-user-description">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control', rows: '10' %>
  </div>
  
  <div class="form-group" id="form-user-email">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
    
  <div class="form-group" id="form-user-title">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
        
  <div class="form-group">
    <%= f.label :blurb %>
    <%= f.text_field :blurb, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.file_field :image %>
          
    <%= f.submit "Update Profile", class: 'form-control btn btn-primary' %>
  </div>
  
<% end %>
      
  <div class='col-xs-4'>
  <div class="panel panel-default">
    <div class="panel-heading">
      Upload a photo
    </div>
     
    <div class="panel-body">
      <div class="photo-square">
        <%= image_tag current_user.image.url(:profile) if current_user.image.url %>
      </div>
      <div class="form-group">

      </div>
    </div>
  </div>
  </div>