<div class="container">
  <div class="col-xs-3" id="col-profile-left">
    <div id="profile-picture">
    <%= image_tag @user.image.url(:profile) %>
  </div>
  
    <div class="panel panel-default panel-profile-left">
      <div class="panel-heading">
        Email Address
      </div>
    
      <div class="panel-body">
        <span class="glyphicon glyphicon-envelope" /><%= @user.email %>
      </div>
    </div>
  
    <div class="panel panel-default panel-profile-left">
      <div class="panel-heading">
        About Me
      </div>
    
      <div class="panel-body">
        <%= @user.profile %>
      </div>
    </div>
    
    <% @items.each do |item| %>
      <div class="profile-item-listing">
        <%= image_tag item.image.url(:profile_listing) %>
      </div>
    <% end %>
  </div><!-- LEFT COLUMN -->
  
  <div class="col-xs-9">
    <div class="row">
      <h1>Hey, I'm <%= @user.full_name.split(' ').first %>!</h1>
      <p><%= @user.description %></p>
    </div>
    
    <div class="row">
      <h3>Reviews <span>(55)</span></h3>
    </div>
  </div>
</div>