<div class="container">
  <div class="col-xs-3" id="col-profile-left">
    <div id="profile-picture">
    <%= image_tag @user.image.url(:profile) %>
  </div>
  
    <div class="panel panel-default panel-profile-left">
      <div class="panel-heading">
        Email Address
      </div>
    
      <div class="panel-body">
        <span class="glyphicon glyphicon-envelope" /><%= @user.email %>
      </div>
    </div>
  
    <div class="panel panel-default panel-profile-left">
      <div class="panel-heading">
        About Me
      </div>
    
      <div class="panel-body">
        <%= @user.profile %>
      </div>
    </div>
    
    <div class="profile-listings-container">
      <h3>Cycles <span id="listings-num">(<%= @num_listings %>)</span></h3>
      <% @items.each do |item| %>
        <div class="profile-item-listing">
          <%= link_to image_tag(item.image.url(:profile_listing)), item_url(item) %>
        </div>
      <% end %>
    </div>
  </div><!-- LEFT COLUMN -->
  
  <div class="col-xs-9">
    <div class="row">
      <h1>Hey<% if @user.full_name %>, I'm <%= @user.full_name.split(' ').first %><% end %>!
      </h1>
      
      <p><%= @user.description %></p>
    </div>
    
    <div class="row">
      <h3>Reviews <span>(<%= @num_reviews %>)</span></h3>
      <% @reviews.each do |review| %>
        <div class="row user-show-review">
          <div class="col-xs-1 user-show-review-pic">
            <%= link_to image_tag(review.author.image.url(:comment_thumb)), user_url(review.author) %>
          </div>
          <div class="col-xs-11 user-show-review-body">
            <%= review.body %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
