<div class="container">
  <div class="col-xs-3" id="col-profile-left">
    <div id="profile-picture">
    <%= image_tag @user.image.url(:profile) %>
  </div>
  
    <div class="panel panel-default panel-profile-left">
      <div class="panel-heading">
        <h4>Email Address</h4>
      </div>
    
      <div class="panel-body profile-panel-body">
        <div class="glyphicon glyphicon-user"></div><%= @user.email %>
      </div>
    </div>
  
    <div class="panel panel-default panel-profile-left">
      <div class="panel-heading">
        <h4>About Me</h4>
      </div>
    
      <div class="panel-body profile-panel-body">
        <%= @user.blurb %>
      </div>
    </div>
    
    <div class="profile-listings-container">
      <h3>Cycles <span id="listings-num">(<%= @num_listings %>)</span></h3>
      <% @items.each do |item| %>
        <div class="profile-item-listing">
          <%= link_to image_tag(item.image.url(:profile_listing)), item_url(item) %>
        </div>
      <% end %>
    </div>
  </div><!-- LEFT COLUMN -->
  
  <div class="col-xs-9" id="profile-body-col">
    <div class="row" id="greeting">
      <h1>Hey<% if @user.full_name %>, I'm <%= @user.full_name.split(' ').first %><% end %>!
      </h1>
      <h4><%= @user.title if @user.title %></h4>
      <p><%= @user.description %></p>
    </div>
    <di class="container">
    <div class="row">
      <h3 id="profile-reviews-title">Reviews <span>(<%= @num_reviews %>)</span></h3>
      <% if @reviews.length == 0 %>
      <div id="no-reviews">
        <%= @user.username %> doesn't have any reviews yet.  Leave one!
      </div>
        <% else %>
      <% @reviews.each do |review| %>
        <div class="row user-show-review">
          <div class="col-xs-1 user-show-review-pic">
            <%= link_to image_tag(review.author.image.url(:comment_thumb)), user_url(review.author) %>
            <div class="user-show-review-author"><%= link_to review.author.username, user_url(review.author) %></div>
          </div>
          
          <div class="col-xs-11 user-show-review-body">
            <%= review.body %>
            <div class="review-date">
              <%= review.created_at.strftime("%B %e") %>
            </div>
          </div>
        </div>
      <% end %>
      <% end %>
    </div>
    <div id="profile-review-btn">
      <button class="btn btn-primary" 
        data-toggle="modal" data-target="#myModal">
        Leave a Review
      </button>
      <%= render partial: "items/review", locals: {owner: @user} %>
    </div>
  </div>
  </div>
</div>
