<div class="container">
  <div class="col-xs-3">
    <div id="profile-picture">
    <%= image_tag @user.image.url(:profile) %>
  </div>
  
    <div class="panel panel-default">
      <div class="panel-heading">
        Email Address
      </div>
    
      <div class="panel-body">
        <%= @user.email %>
      </div>
    </div>
  
    <div class="panel panel-default">
      <div class="panel-heading">
        About Me
      </div>
    
      <div class="panel-body">
        <%= @user.profile %>
      </div>
    </div>
  </div><!-- LEFT COLUMN -->
  
  <div class="col-xs-9">
    <div class="row">
      <h1>Hey, I'm <%= @user.full_name.split(' ').first %>!</h1>
      <p><%= @user.description %></p>
    </div>
  </div>
</div>