<script>
$(function() {
  $('#cart-form').submit(function(event) {
    event.preventDefault();
    var valuesToSubmit = $(this).serialize();
    $.ajax({
      url: $(this).attr('action'),
      method: "post",
      data: valuesToSubmit,
      dataType: "JSON"
    })
  });
  
  $('.form-cart-remove').submit(function(event) {
    event.preventDefault();
    var valuesToSubmit = $(this).serialize();
    $.ajax({
      url: $(this).attr('action'),
      method: "delete",
      data: valuesToSubmit,
      dataType: "JSON"
    });
    var id = $(event.target).data('id')
    $('#cart-item-' + id).html("");
  });
  
  $('#form-submit-favorite').submit(function(event) {
    event.preventDefault();
    var valuesToSubmit = $(this).serialize();
    $.ajax({
      url: $(this).attr('action'),
      method: "POST",
      data: valuesToSubmit,
      dataType: "JSON"
    });
    $('.glyphicon-heart').css({color: "#CA7661"});
  })
})
</script>

<div class="container" id="item-show-container">
  <div class="row" id="item-show-header">

    <div class="col-xs-12">
      <div id="item-show-owner-pic">
        <%= link_to image_tag(@item.owner.image.url(:item_thumb)), user_url(@item.owner) %>
      </div>
    
      <div id="item-show-owner" class="pull-left">
        <h3>
          <a href='<%= user_url(@item.owner) %>'><%= @item.owner.username%></a>
        </h3>
      
        <div class="pull-left">
          <button class="btn btn-secondary btn-sm  item-show-review" 
            data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-star"></span> Leave a Review
          </button>
          <%= render partial: "review", locals: {owner: @item.owner} %>
        </div>
      </div>
    
    <div id="item-show-listings">
      <ul>
      <% @more_items.each do |item| %>
        <li class="item-show-more-item poster-more-item">
          <%= link_to image_tag(item.image.url(:show_more)), item_url(item) %>
        </li>
      <% end %>
      <li class="poster-more-item">
        <div>
        <div class="item-show-more-count">
          <a href="<%= user_url(@item.owner) %>">
          <span id="item-show-more-num"><%= @num_items %></span>
          <span id="item-show-more-word">cycles</span>
        </a>
      </div>
      </li>
    </div>
  </div><!-- HEADER ROW-->
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-xs-7">
          <div class="jumbotron" id="jumbotron-item-show">
            <div class="col-xs-2">
              <form action="<%= item_favorites_url(@item) %>" method="POST" id="form-submit-favorite">
                
              <button type="submit" id="submit-favorite" class='btn btn-secondary item-show-favorite'>
                <span class='glyphicon glyphicon-heart glyphicon-sm'
                <% if current_user %>
                <% if !current_user.favorited_items.where( id: @item.id ).empty? %>
                style='color: #CA7661'
                <% end %><% end %>></span> Favorite
              </button>
              </form>
            </div>
            
            <div class="col-xs-10">
              <h2>Like this item?</h2>
              <h4>Add it to your favorites to revisit it later.</h4>
            </div>
          <div class='row'></div>
        </div>
        
        <%= image_tag @item.image.url(:show) %>
        
        <ul class="nav nav-tabs nav-tabs-item-show">
          <li class="active" id='tab-item-show-first'>
            <a href="#tab-details" data-toggle="tab">Item Details</a>
          </li>
          <li>
            <a href="#tab-reviews" data-toggle="tab">
              Reviews (<%= @item.owner.received_reviews.length %>)
            </a>
          </li>
          <!-- <li>
            <a href="#tab-shipping" data-toggle="tab">Shipping Details</a>
          </li> -->
        </ul><!-- REVIEW TABS -->
        
        <div class="tab-content">
          <div class="tab-pane pane-item-show active" id='tab-details'>
            <p>
              <%= @description %>
            </p>
          </div>
          <div class="tab-pane pane-item-show" id='tab-reviews'>
            <% if @reviews.length == 0 %>
              <%= @item.owner.username %> doesn't have any reviews yet...
            <% else %>
              <% @reviews.each do |review| %>
                <div class="item-show-review-pane">
                  <div class="col-xs-3 item-show-review-pic">
                   <div class="row">
                     <%= link_to image_tag(
                       review.author.image.url(:review_thumb), 
                       class: "img-circle") %>
                     <br><br>Reviewed by<br>
                     <%= link_to review.author.username,
                      user_url(review.author)%>
                    </div>
                   </div>
                   
                   <div class="col-xs-9 item-show-review-body">
                     <%= review.body %>
                   </div>
                 </div>
              <% end %>
            <% end %>
            <a href="<%= user_url(@item.owner) %>" class="btn btn-primary" id="item-show-all-reviews">
              Read All Reviews
            </a>
          </div>
        </div><!-- REVIEW TAB PANES -->
      </div>
    
    <div class="col-xs-5"><!-- BEGIN RIGHT PANE -->
      <div class="panel" id="panel-item-show-cart">
        <div class="panel-body panel-body-item-show-cart">
          <h3><%= @item.title %></h3>
          <div class='item-show-price'>
            $<%= @item.price %>
          </div>
          <div class="btn btn-secondary item-show-question" data-toggle="modal" data-target="#ask-question">
            Ask a Question
          </div>
          <!-- Button trigger modal -->
          <!-- Modal -->
          <div class="modal fade" id="ask-question" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Ask <%= @item.owner.username %> a question</h4>
                </div>
                <div class="form-group col-xs-10 col-xs-offset-1">
                  <input class="form-control">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-primary">Ask!</button>
                </div>
              </div>
            </div>
          </div>
          <div class="item-show-condition">
            <h5>Condition</h5>
            <a href="#"><%= @item.condition %></a>
          </div>
          <div class="panel-item-show-features">
            <h4>Overview</h4>
            <ul id="item-features">
              <% features = @item.features.split("\n") %>
              <% features.each do |f| %>
              <li><%= @item.features %></li>
              <% end %>
              <li>Feedback: <a href="<%= user_url(@item.owner) %>">
                <%= @item.owner.received_reviews.length %> reviews</a>
              </li>
              <li>Location: San Francisco</li>
            </ul>
          </div>
        </div>
        <!-- Button trigger modal -->
        <form action="<%= item_cart_items_url(@item) %>" id="cart-form" 
          method="post">
          <input type="hidden" name="authenticity_token" 
            value="<%= form_authenticity_token %>">

          <input class="btn" id='btn-add-to-cart' data-toggle="modal"
            data-target="#user-cart" type="submit" class="close" 
            data-dismiss="modal" aria-hidden="true" value="Add to Cart">
        </form>

        <!-- Modal -->
        <div class="modal fade" id="user-cart" tabindex="-1" role="dialog" 
          aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" 
                  aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">
                  Items in Your Cart
                </h4>
              </div>
              
              <div class="cart-body">
                <div class="cart-item row">
                  <div class="col-xs-3">
                    <%= image_tag @item.image.url(:cart) %>
                  </div>
                  <div class="col-xs-9">
                    <%= link_to @item.title, item_url(@item) %>
                    <%= @item.description %>
                    
                  </div>
                </div>
                <% if current_user %>
                <% @cart_items.each do |ci| %>
                  <% next if ci == @item %>
                <div class="cart-item row" id="cart-item-<%= ci.id %>">
                  <div class="col-xs-3">
                    <%= link_to image_tag(ci.image.url(:cart)), item_url(ci) %>
                  </div>
                  <div class="col-xs-9">
                    <%= link_to ci.title, item_url(ci) %>
                    <%= ci.description %>
                    <form action="<%= cart_item_url(
                      ci.cart_items.find_by(cart_id: current_user.cart.id)) %>"                       method="post" data-id="<%= ci.id %>"           
                      class="form-cart-remove">
                        <input type="hidden" name="authenticity_token" 
                          value="<%= form_authenticity_token %>">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" name="some_name" value="remove" 
                          id="some_name" class="cart-remove-btn">  
                    </form>
                  </div>
                </div>
                <% end %>
                <% end %>
              </div>
              
              <div class="modal-footer">
                <button type="button" class="btn btn-default" 
                  data-dismiss="modal">
                  Close
                </button>
                <button type="button" class="btn btn-primary">
                  Checkout
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="panel" id="panel-item-show-more">
        <div class="panel-body" id="panel-body-item-show-more">
          <div class="col-xs-12">
          <div id="item-show-more-container">
            <div class="row">
              <div class="col-xs-10 col-xs-offset-1">
                <div id="item-show-more-header">
                  <a href="<%= user_url(@item.owner) %>">
                  <%= image_tag @item.owner.image.url(:comment_thumb) %>
                  <div id="item-show-more-owner">
                    <%= @item.owner.username %></a>
                  </div>                     
                  <div id="item-show-more-owner-title">
                  <%= @item.owner.title %>
                </div>
              </div>
            </div>
            <% @more_items_side.each do |item| %>
              <div class="poster-item-show-side">
                <%= link_to image_tag(item.image.url(:show_side)), item_url(item) %>
                <div class="poster-item-title">
                  <%= link_to item.title, item_url(item) %>
                  <span class="poster-item-price" style="float: left;">$<%= item.price %></span>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  </div>
</div>
