<h1><%= @item.title %></h1>
<%= image_tag @item.image.url if @item.image_file_name %>
Description:
<%= @item.description %><br>
Price:
$<%= @item.price %><br>
Condition:
<%= @item.condition %><br>
Features:
<%= @item.features %><br>
