<div class="container" id="item-show-container">
  <div class="row" id="item-show-header">

    <div class="col-xs-12">
      <div id="item-show-owner-pic">
        <%= image_tag @item.owner.image.url(:item_thumb) %>
      </div>
    
      <div id="item-show-owner" class="pull-left">
        <h3>
          <a href='<%= user_url(@item.owner) %>'><%= @item.owner.username%></a>
        </h3>
      
        <div class="pull-left">
          <button class="btn btn-secondary btn-sm  item-show-review" 
            data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-pencil"></span> Leave a Review
          </button>
          <%= render partial: "review", locals: {owner: @item.owner} %>
        </div>
      </div>
    
    <div id="item-show-listings">
      <ul>
      <% @more_items.each do |item| %>
        <li class="item-show-more-item poster-more-item">
          <%= link_to image_tag(item.image.url(:show_more)), item_url(item) %>
        </li>
      <% end %>
      <li class="poster-more-item">
        <div class="item-show-more-count">
          <span id="item-show-more-num"><%= @num_items %></span>
          <span id="item-show-more-word">cycles</span>
        </div>
      </li>
    </div>
  </div><!-- HEADER ROW-->
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-xs-7">
          <div class="jumbotron" id="jumbotron-item-show">
            <div class="col-xs-3">
              <div class='btn btn-secondary item-show-favorite'>
                <span class='glyphicon glyphicon-heart'></span> Favorite
              </div>
            </div>
            
            <div class="col-xs-9">
              <h4>Like this item?</h4>
              Add it to your favorites to revisit it later.
            </div>
          <div class='row'></div>
        </div>
        
        <%= image_tag @item.image.url(:show) %>
        
        <ul class="nav nav-tabs nav-tabs-item-show">
          <li class="active" id='tab-item-show-first'>
            <a href="#tab-details" data-toggle="tab">Item Details</a>
          </li>
          <li>
            <a href="#tab-reviews" data-toggle="tab">
              Reviews (<%= @item.owner.received_reviews.length %>)
            </a>
          </li>
          <!-- <li>
            <a href="#tab-shipping" data-toggle="tab">Shipping Details</a>
          </li> -->
        </ul><!-- REVIEW TABS -->
        
        <div class="tab-content">
          <div class="tab-pane pane-item-show active" id='tab-details'>
            <p>
              <%= @description %>
            </p>
          </div>
          <div class="tab-pane pane-item-show" id='tab-reviews'>
            <% if @reviews.length == 0 %>
              <%= @item.owner.username %> doesn't have any reviews yet...
            <% else %>
              <% @reviews.each do |review| %>
                <div class="item-show-review-pane">
                  <div class="col-xs-3 item-show-review-pic">
                   <div class="row">
                     <%= link_to image_tag(
                       review.author.image.url(:review_thumb), 
                       class: "img-circle") %>
                     <br><br>Reviewed by<br>
                     <%= link_to review.author.username,
                      user_url(review.author)%>
                    </div>
                   </div>
                   
                   <div class="col-xs-9 item-show-review-body">
                     <%= review.body %>
                   </div>
                 </div>
              <% end %>
            <% end %>
            <a href="<%= user_url(@item.owner) %>" class="btn btn-primary" id="item-show-all-reviews">
              Read All Reviews
            </a>
          </div>
        </div><!-- REVIEW TAB PANES -->
      </div>
    
    <div class="col-xs-5"><!-- BEGIN RIGHT PANE -->
      <div class="panel" id="panel-item-show-cart">
        <div class="panel-body panel-body-item-show-cart">
          <h3><%= @item.title %></h3>
          <div class='item-show-price'>
            $<%= @item.price %>
          </div>
          <div class="btn btn-secondary item-show-question">
            Ask a Question
          </div>
          <div class="item-show-condition">
            <h5>Condition</h5>
            <a href="#"><%= @item.condition %></a>
          </div>
          <div class="panel-item-show-features">
            <h4>Overview</h4>
            <%= @item.features %>
          </div>
        </div>
        
        <div class='btn' id='btn-add-to-cart'>Add to Cart</div>
      </div>
      
      <div class="panel" id="panel-item-show-more">
        <div class="panel-body" id="panel-body-item-show-more">
          <div class="col-xs-12">
          <div id="item-show-more-container">
            <div class="row">
              <div class="col-xs-4 col-xs-offset-4">
                <div id="item-show-more-header">
                  <%= image_tag @item.owner.image.url(:item_thumb) %>
                  <div id="item-show-more-owner">
                    <%= link_to @item.owner.username, user_url(@item.owner) %>
                  </div>                     
                  <div id="item-show-more-owner-title">
                  <%= @item.owner.title %>
                </div>
              </div>
            </div>
            <% @more_items_side.each do |item| %>
              <div class="poster-item-show-side">
                <%= link_to image_tag(item.image.url(:show_side)), item_url(item) %>
                <div class="poster-item-title">
                  <%= link_to item.title, item_url(item) %>
                  <span class="poster-item-price" style="float: left;">$<%= item.price %></span>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  </div>
</div>
