<div class="side-margin clear-fix">
  <div class="left-col">
    <ul class="clear-fix">
      <div class="poster poster-large clear-fix">
        <li>
          <%= image_tag @categories.find(1).image.url %>
          <%= @categories.find(1).title %>
        </li>
      </div>
      
      <div class="poster poster-small-left clear-fix">
        <li>
          <%= image_tag@categories.find(6).image.url %>
          <%= @categories.find(6).title %>
         </li>
      </div>
      
      <div class="poster poster-small clear-fix">
        <li>
          <%= image_tag @categories.find(2).image.url %>
          <%= @categories.find(2).title %>
        </li>
      </div>
    </ul>
  </div>

  <div class='right-col'>
    <ul class="clear-fix">
      <div class="poster poster-small poster-right clear-fix">
        <li>
          <a href='/#categories/4'>
          <%= image_tag @categories.find(4).image.url %>
          <%= @categories.find(4).title %>
        </li>
      </div>
      
      <div class="poster poster-small poster-right-small clear-fix">
        <li>
          <%= image_tag @categories.find(5).image.url %>
          <%= @categories.find(5).title %>
        </li>
      </div>
    
      <div class="poster poster-large poster-right clear-fix">
        <li>
          <%= image_tag @categories.find(3).image.url %>
          <%= @categories.find(3).title %>
        </li>
      </div>
    
     
    </ul>
  </div>
</div>