<div class="container">
  <div class="row" id="cat-index-top-block">
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-12">
          <div class="poster">
            <img src='<%= categories.get(1).get('index_large') %>' />
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-6">
          <div class="poster">
            <img src='<%= categories.get(1).get('index_small') %>' />
          </div>
        </div>
        <div class="col-xs-6">
          <div class="poster">
            <img src='<%= categories.get(1).get('index_small') %>' />
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-6">
          <div class="poster">
            <img src='<%= categories.get(1).get('index_small') %>' />
          </div>
        </div>
        <div class="col-xs-6">
          <div class="poster">
            <img src='<%= categories.get(1).get('index_small') %>' />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 