<div class="col-xs-8 col-xs-offset-2">
  <div class="jumbotron" id="jumbotron-cat-show">
    <h1>Shop Fixed Gear Bicycles</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-2 col-xs-offset-2">
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-options active btn-xs">
        <input class="options-input" type="radio" name="options" id="options-all">All Cycles
      </label>
      <label class="btn btn-options btn-xs">
        <input class="options-input" type="radio" name="options" id="options-new">New Cycles
      </label>
      <label class="btn btn-options btn-xs">
        <input class="options-input" type="radio" name="options" id="options-used">Used Cycles
      </label>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2"> 
    <% _(10).times(function(){items.each(function(item){ %>
      <div class='poster poster-show'>
        <a href="/categories/<%= items.category_id %>/items/<%= item.get('id') %>">
          <img src='<%= item.get('thumb_url') %>' />
        </a>
        <div class="poster-item-title">
          <a href="/categories/<%= items.category_id %>/items/<%= item.get('id') %>">
            <%= item.get('title') %>
          </a>
        </div>
        <div class="poster-item-subtitle">
          <span class="poster-item-owner">
            <a href="/users/<%= item.get('owner_id') %>">
            <%= item.get('owner') %>
          </a>
          </span>
          <span class="poster-item-price">$<%= item.get('price') %></span>
        </div>
      </div>
    <% })}) %>
  </div>
</div>