<div class="col-xs-8 col-xs-offset-2"> 
  <% _(10).times(function(){items.each(function(item){ %>
    <div class='poster poster-show'>
      <a href="/items/<%= item.get('id') %>">
        <img src='<%= item.get('thumb_url') %>' />
      </a>
      <a href="/items/<%= item.get('id') %>">
        <%= item.get('title') %><br>
      </a>
      <a href="/users/<%= item.get('owner_id') %>">
        <%= item.get('owner') %>
      </a>
        $<%= item.get('price') %>
    </div>
  <% })}) %>
</div>